# Build files
build*/
.cache/
x64/
cmake-build*/
conandata.yml
conan_provider.cmake
CMakeUserPresets.json

# IDE Files
.vscode/
.vs/
*.vcxproj*
*.sln
.idea/

# Project related artifacts
*.spv
*.jpg
*.obj
*.png